body {
    background: #f5f5f5;
}

textarea.column-body {
    height: 500px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: #ddd;
    margin-bottom: 30px;
}

.column-title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 20px;
    background: #ddd;
    font-size: 18px;
}

.json-response {
    margin: 20px 0;
}

.csv-file {
    margin-bottom: 20px;
}

input[type="submit"] {
    margin-top: 10px;
}

.example {
    margin: 20px 0;
    display: none;
}

.example-table td {
    padding: 0 20px 0 0;
}